@import "../../styles/variables.scss";

// Estilos de la página de bienvenida
.boton {
  background-color: var(--color-texto);
  color: var(--color-nav);
  border: 5px solid var(--color-nav);
  box-shadow: 0 6px 12px var(--color-texto);
}

button:hover {
  background-color: var(--hover-inicio); /* Color más suave */
}

// Efecto al hacer clic (presionado)
button:active {
  transform: translateY(4px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Sombra más corta */
  background-color: var(--color-texto);
}

#text-path {
  stroke: var(--color-texto);
}

h3 {
  color: var(--color-texto);
}
