<div class="container h-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="m-4 fw-bolder">Lista de proyectos</h1>
    <div class="row w-100 d-flex flex-wrap justify-content-center">
        <div class="col-lg-3 col-auto p-0 m-2">
            <a href="https://github.com/vjp-adrianMG/Multitasking.local" target="_blank"
                class="text-decoration-none d-flex flex-column align-items-center">
                <img class="rounded border border-3 border-dark" src="" alt="Multitasking">
                <strong class=" fw-bolder fs-3 text-body">Multitasking</strong>
            </a>
        </div>
        <div class="col-lg-3 col-auto p-0 m-2">
            <a href="https://github.com/ikerCH-03/prueba.git" target="_blank"
                class="text-decoration-none  d-flex flex-column align-items-center">
                <img class="rounded border border-3 border-dark" src="" alt="Street Figther">
                <strong class=" fw-bolder fs-3 text-body">Street Fighter</strong>
            </a>
        </div>
        <div class="col-lg-3 col-auto p-0 m-2">
            <a href="https://github.com/ikerCH-03/prueba.git" target="_blank"
                class="text-decoration-none  d-flex flex-column align-items-center">
                <img class="rounded border border-3 border-dark" src="" alt="Multifunción">
                <strong class=" fw-bolder fs-3 text-body">Multifunción</strong>
            </a>
        </div>
    </div>
</div>

<div class="parent">
    <div class="div1 col-lg-3 col-auto p-0 m-2">
        <a href="https://github.com/vjp-adrianMG/Multitasking.local" target="_blank"
            class="text-decoration-none d-flex flex-column align-items-center">
            <img class="rounded border border-3 border-dark" src="" alt="Multitasking">
            <strong class=" fw-bolder fs-3 text-body">Multitasking</strong>
        </a>
    </div>
    <div class="div2 col-lg-3 col-auto p-0 m-2">
        <a href="https://github.com/ikerCH-03/prueba.git" target="_blank"
            class="text-decoration-none  d-flex flex-column align-items-center">
            <img class="rounded border border-3 border-dark" src="" alt="Street Figther">
            <strong class=" fw-bolder fs-3 text-body">Street Fighter</strong>
        </a>
    </div>
    <div class="div4">4</div>
    <div class="div5">5</div>
</div>
    
