<div width="1000" height="400"
    class="container-fluid p-0 border text-white d-flex flex-column justify-content-between align-items-center">
    <div class="p-2 align-self-end text-white">IKER CORDÓN HARO</div>
    <div class="d-flex flex-column align-items-center">
        <nav-bar></nav-bar>
        <div class="d-flex justify-content-around align-items-center">
            <div class="fw-bolder p-5">
                <p>Me llamo Iker y me gustaría presentaros mi portafolio de proyectos.</p>
                <p>Soy una persona con mucha ambición, que tiene muchas ganas de comenzar a trabajar y de aprender.
                    Me gusta mucho trabajar en equipo, además de que tengo gran capacidad de aprender cosas debido a que
                    me gusta todo lo relacionado con la informática.</p>
                <p>
                </p>
            </div>
            <div>
                <img src="../../../assets/foto_home.avif" class="rounded p-5" alt="foto_home">
            </div>
        </div>
    </div>
    <div class="align-self-start text-white p-2">
        <a href="https://github.com/ikerCH-03" target="_blank"><i
                class="fa-brands fa-github text-white fs-5 mx-3"></i></a>
        <a href="https://www.linkedin.com/in/iker-cord%C3%B3n-haro" target="_blank"><i
                class="fa-brands fs-5 fa-linkedin mx-3"></i></a>
    </div>
</div>