<div class="container h-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="m-5 fw-bolder text-center">BIENVENIDO/A A MI PORTAFOLIO</h1>
    <div class="fw-bolder text-center">
        <h4 class="fw-bolder">Sobre Mí:</h4>
        <p>Me llamo Iker y me gustaría presentaros mi portafolio de proyectos.</p>
        <p>Soy una persona con mucha ambición, que tiene muchas ganas de comenzar a trabajar y de aprender.
            Me gusta mucho trabajar en equipo, además de que tengo gran capacidad de aprender cosas debido a que
            me gusta todo lo relacionado con la informática.</p>
        <p>
            
        </p>
    </div>
</div>