<div class="home-section d-flex flex-row flex-wrap align-items-center justify-content-evenly h-100">
    <div class="fw-bolder text mx-2 ">
        <p>Me llamo Iker y me gustaría presentaros mi portafolio de proyectos.</p>
        <p>Soy una persona con mucha ambición, que tiene muchas ganas de comenzar a trabajar y de aprender.
            Me gusta mucho trabajar en equipo, además de que tengo gran capacidad de aprender cosas debido a que
            me gusta todo lo relacionado con la informática.</p>
        <p>
        </p>
    </div>
    <div>
        <img src="../../../assets/foto_home.avif" class="foto" alt="foto_home">
    </div>
</div>