<!-- Sección de los proyectos-->
<div class="project-section d-flex flex-wrap w-100 h-100 justify-content-evenly">
    <div class="projects-intro fw-bold">
        <p class="mb-0">
            Estos son algunos de los proyectos que he ido desarrollando a lo largo de mi formación, tanto en clase como
            por mi cuenta o durante las prácticas.
            Aunque todavía no he tenido experiencia profesional, espero pronto poder tener proyectos profesionales.
        </p>
    </div>
    <div *ngFor="let proyecto of proyectos" class="card card-hover-info m-3">
        <img src="/assets/pagina-en-construccion.jpg" class="card-img" alt="...">
        <div class="card-info">
            <h5 class="card-title">{{proyecto.name}}</h5>
            <div class="card-text">
                <p>{{proyecto.info}}</p>
                <hr class="text-white w-100">
                <div class="card-links">
                    <!--<a [href]="proyecto.git" class="mx-2" target="_blank"><i class="fa-brands fa-github"></i></a>-->
                </div>
            </div>
        </div>
    </div>
</div>