// Estilos del about 
.home-section {
    height: 100%;
    width: calc(100vw - 6rem);
    padding: 2rem;
    text-align: justify;

    .text {
        max-width: 500px;
    }

    .foto {
        max-width: 350px;
        height: auto;
        border-radius: 10px;
    }
}

// Ajuste responsive
@media (max-width: 768px) {
    .home-section {
        flex-direction: column;
        padding: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .home-section {
        width: calc(100vw - 2.4rem);
    }
}

@media screen and (max-width: 450px) {
    .home-section {
        width: calc(100vw - 1.6rem);
    }
}