<!-- Página para los conocimientos/formación  -->
<div class="skills-intro px-lg-5 px-3 ">
    <p>
        A lo largo de mi formación y experiencia, he desarrollado una base sólida en desarrollo web, tanto
        en el lado del <b><i>frontend</i></b> como en el <b><i>backend</i></b>. He manejado <b><i>frameworks modernos,
                diseño responsive</i></b> y también he podido realizar
        distintas prácticas que involucran <b><i>APIS</i></b>.
    </p>
    <p class="mb-3">
        Además,tengo algunos conocimientos de <b><i>Machine Learning, procesamiento de datos y conceptos relacionados
                con Inteligencia Artificial y Big Data</i></b>.
        A continuación, puedes ver una representación de mis habilidades, organizadas por área y nivel de dominio.
    </p>
</div>

<div class="skills-section d-flex justify-content-evenly flex-wrap">
    <div class="frontend">
        <h2 class="text-center my-3">Frontend</h2>
        <div class="skills">
            <div class="skill m-2" *ngFor="let skill of frontendKnowledge">
                <img [src]="skill.icon" class="p-2" [alt]="skill.name" />
                <div class="tooltip">
                    <strong>{{ skill.name }}</strong>
                    <p>Nivel: {{ skill.level }}</p>
                    <div class="level-bar">
                        <div class="fill"
                            [ngStyle]="{ width: getLevelData(skill.level).width,background: getLevelData(skill.level).color }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="backend">
        <h2 class="text-center my-3">Backend</h2>
        <div class="skills">
            <div class="skill m-2" *ngFor="let skill of backendKnowledge">
                <img [src]="skill.icon" class="p-2" [alt]="skill.name" />
                <div class="tooltip">
                    <strong>{{ skill.name }}</strong>
                    <p>Nivel: {{ skill.level }}</p>
                    <div class="level-bar">
                        <div class="fill"
                            [ngStyle]="{ width: getLevelData(skill.level).width,background: getLevelData(skill.level).color }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>