.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

div.container-fluid {
    min-height: calc(100vh - 6rem);
    height: auto;

    /* Altura restante después del padding */
    img {
        border-radius: 20px;
    }
}

::view-transition-old(root) {
    animation: exit 2s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
    animation: enter 3s ease 0s 1 normal forwards;
}

/* Responsive */
@media screen and (max-width: 550px) {
    div.container-fluid {
        min-height: calc(100vh - 2.4rem);
    }
}

/* Responsive */
@media screen and (max-width: 450px) {
    div.container-fluid {
        min-height: calc(100vh - 1.6rem);
    }
}