<!-- Página principal -->
<div class="eb-garamond h-100">
    <div class="container-fluid p-0 text-white">
        <div *ngIf="!errorPage" class="nav d-flex w-100 p-lg-2 align-items-center justify-content-between text-white">
            <nav-bar *ngIf="showNavBar" class="w-100"></nav-bar>
            <div *ngIf="!showNavBar" class="nombre ms-auto text-center mx-2">IKER CORDÓN HARO</div>
        </div>
        <div class="content">
            <router-outlet />
        </div>
        <div *ngIf="!errorPage" class="footer h-100 d-flex justify-content-between align-items-center text-white p-2">
            <div>
                <a href="https://github.com/ikerCH-03" target="_blank"><i class="fa-brands fa-github fs-5 mx-3"></i></a>
                <a href="https://www.linkedin.com/in/iker-cord%C3%B3n-haro" target="_blank"><i
                        class="fa-brands fs-5 fa-linkedin mx-3"></i></a>
            </div>
            <div>
                <span id="luna" (click)="cambiarModo()"><i class="fa-solid fa-moon mx-3"></i></span>
                <span id="sol" (click)="cambiarModo()"><i class="fa-solid fa-sun"></i></span>
            </div>
        </div>
    </div>
</div>