// Estilos globales
@import "./styles/variables.scss";

.eb-garamond {
    font-family: $estilo-letra, serif;
    font-optical-sizing: auto;
    font-style: normal;
}

div.container-fluid {
    min-height: calc(100vh - 6rem);
    height: auto;
    border: 1px solid var(--color-texto);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.7fr repeat(3, 1fr) 0.5fr;

    div {
        div.nombre {
            color: var(--color-texto);
        }
    }
    /* Altura restante después del padding */
    img {
        border-radius: 20px;
    }

    .content {
        grid-row: span 3 / span 3;
        grid-row-start: 2;
    }

    .footer {
        grid-row-start: 5;
    }

    .fa-github {
        color: var(--github);
    }
    .fa-linkedin {
        color: #055d8d;
    }
    span {
        i {
            font-size: 16px;
            border-radius: 50%;
            padding: 3px 5px;
        }
    }
    .lunaActive {
        i {
            color: #055d8d;
            background-color: white;
        }
    }
    .solActive {
        i {
            color: white;
            background-color: #055d8d;
        }
    }
}

::view-transition-old(root) {
    animation: exit 1s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
    animation: enter 2s ease 0s 1 normal forwards;
}

// Responsive
@media screen and (max-width: 992px) {
    div.container-fluid {
        grid-template-rows: 0.4fr repeat(3, 1fr) 0.3fr;
    }
}
@media screen and (max-width: 550px) {
    div.container-fluid {
        min-height: calc(100vh - 2.4rem);
    }
}

@media screen and (max-width: 450px) {
    div.container-fluid {
        min-height: calc(100vh - 1.6rem);

        grid-template-rows: 0.3fr repeat(3, 1fr) 0.3fr;
    }
}
