@import "../../styles/variables.scss";

// Estilos del nav
div.container-fluid {
    div.nombre {
        color: var(--color-texto);
    }
    ul.navbar-nav {
        background-color: var(--color-nav);
        box-shadow: 0 6px 12px var(--shadow);

        li.nav-item {
            // Estado activo (la página actual)
            &.active {
                a.item-link {
                    background-color: var(--color-texto);
                    color: var(--color-nav); // texto oscuro sobre fondo blanco
                }
            }
        }

        a.item-link {
            display: block;
            padding: 12px;
            margin: 5px;
            font-weight: bolder;
            text-decoration: none;
            color: var(--color-texto);
            transition: color 0.3s ease;

            &:not(.active) {
                background-image: linear-gradient(var(--color-nav-active), var(--color-nav-active));
                background-size: 0% 100%;
                background-repeat: no-repeat;
                background-position: left;
                transition: background-size 0.6s ease;

                &:hover {
                    background-size: 100% 100%;
                    color: var(--color-nav); // color contraste al pasar ratón
                }
            }
        }
    }
}

/* Responsive para quitar animación en móvil/tablet */
@media screen and (max-width: 770px) {
    div.container-fluid {
        div {
            ul.navbar-nav {
                a.item-link:not(.active) {
                    background-image: none;
                    transition: none;

                    &:hover {
                        color: var(--color-texto);
                    }
                }
            }
        }
    }
}
