<!-- Código para el nav y su toggle cuando se hace más pequeño -->
<nav class="navbar navbar-expand-lg 2">
  <div class="container-fluid">
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" style="color: var(--color-texto);"></i>
    </button>
    <div class="nombre d-block d-lg-none text-end mx-2">IKER CORDÓN HARO</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #navbar>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="item-link" routerLink="/about">SOBRE MÍ</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="item-link" routerLink="/knowledge">CONOCIMIENTOS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="item-link" routerLink="/projects">PROYECTOS</a>
        </li>
      </ul>
    </div>
    <div class="nombre d-none d-lg-block text-end">IKER CORDÓN HARO</div>
  </div>
</nav>
