<div class="home-section d-flex flex-row flex-wrap align-items-center justify-content-evenly">
    <div class="fw-bolder text mx-2">
        <p>¡Hola! Soy Iker y me gustaría presentarte mi portafolio de proyectos.</p>
        <p>Soy una persona con muchas ganas de aprender y empezar a trabajar. Me encanta todo lo relacionado con la informática y siempre estoy buscando formas de mejorar y aprender cosas nuevas.
            Me gusta trabajar en equipo, aportar ideas y colaborar para conseguir buenos resultados.
        </p>
    </div>
    <div>
        <img src="../../../assets/foto_home.avif" class="foto" alt="foto_home">
    </div>
</div>