/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    background-color: #e4e2dd;
    font-family: "Italiana", sans-serif;
}

.fa-linkedin {
    color: #055d8d;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

button {
    background-color: #055d8d;
    border: 3px solid white;
}
button > a {
    color: white;
    text-decoration: none;
}

@keyframes anim-fade-in { from { opacity: 0; } to { opacity: 1 } }