<div class="eb-garamond">
    <div width="1000" height="400"
        class="container-fluid p-0 border text-white d-flex flex-column justify-content-between align-items-center">
        <div class="d-flex w-100 p-2 align-items-center justify-content-between text-white">
            <nav-bar *ngIf="showNavBar"></nav-bar>
            <div class="ms-auto">IKER CORDÓN HARO</div>
        </div>
        <div class="w-100">
            <router-outlet />
        </div>
        <div class="align-self-start text-white p-2">
            <a href="https://github.com/ikerCH-03" target="_blank"><i
                    class="fa-brands fa-github text-white fs-5 mx-3"></i></a>
            <a href="https://www.linkedin.com/in/iker-cord%C3%B3n-haro" target="_blank"><i
                    class="fa-brands fs-5 fa-linkedin mx-3"></i></a>
        </div>
    </div>
</div>