nav {
    background-color: rgb(0, 0, 0);
    box-shadow: 23px 20px 44px -1px rgba(28, 103, 108, 0.62);
    div > a {
        text-decoration: none;
    }
    div > img {
        width: 100px;
    }
}