div {
    ul.nav {
        background-color: azure;
        li {
            padding: 10px;
            margin: 5px;
            font-weight: bolder;
            a {
                text-decoration: none;
            }
        }
    }
}