p {
    text-align: justify;
}

.card {
    box-shadow: 0 4px 10px rgba(220, 220, 220, 0.3);
    background-color: rgb(1, 1, 79);
    color: white;
    width: 18rem;
}

.skills-intro {
    margin-bottom: 0;
    padding: 0 20px 0 20px;
}

.card-hover-info {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.card-hover-info img {
    width: 100%;
    display: block;
    height: 100%;
    transition: transform 0.4s ease;
}

.card-hover-info:hover img {
    transform: scale(1.03);
    filter: brightness(0.7);
}

/* Bloque inferior siempre visible con animación */
.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.75rem 1rem;
    transition: all 1s ease;
    max-height: 3.5rem;
    /* Altura para solo título */
    overflow: hidden;
}

/* Al hacer hover, se expande para mostrar el texto */
.card-hover-info:hover .card-info {
    max-height: 100%;
    /* o lo que necesites */
    background: rgba(0, 0, 0, 0.8);
}

/* Texto escondido hasta el hover */
.card-text {
    margin: 0.5rem 0 0 0;
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 2s ease;
}

/* Mostrar el texto cuando se expande */
.card-hover-info:hover .card-text {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .skills-intro {
        margin-bottom: 0;
        padding: 0 15px 0 15px;
    }
}

@media screen and (max-width: 400px) {
    .card {
        width: 15rem;
    }
    .card-info {
        padding: 0.5rem 0.75rem;
        p {
            font-size: 12px;
        }
    }

}