<div class="project-section d-flex flex-wrap w-100 justify-content-evenly">
    <div class="skills-intro px-5 mb-5 fw-bold">
        <p>
            Estos son algunos de los proyectos que he ido desarrollando a lo largo de mi formación, tanto en clase como por mi cuenta o durante las prácticas. 
            Aunque todavía no he tenido experiencia profesional, espero pronto poder tener proyectos profesionales.
        </p>
    </div>
    <div class="card card-hover-info m-3" style="width: 18rem;">
        <img src="assets/multitasking.png" class="card-img" alt="...">
        <div class="card-info">
            <h5 class="card-title">Multitasking</h5>
            <div class="card-text">
                <p>Proyecto desarrollado con Symfony que permite a usuarios publicar tareas y a otros
                    usuarios postularse para realizarlas a cambio de una remuneración.
                    Incluye valoraciones y perfiles para asegurar confianza entre las partes.</p>
                <hr class="text-white w-100">
                <div class="card-links">
                    <a href="https://github.com/ikerCH-03/Multitasking-proyecto" class="mx-2"><i
                            class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-hover-info m-3" style="width: 18rem;">
        <img src="assets/multifunción.jpg" class="card-img" alt="...">
        <div class="card-info">
            <h5 class="card-title">Multifunción</h5>
            <div class="card-text">
                <p>Se trata de un proyecto donde se encuentran varias funciones(calculadora,tiempo,
                    países) realizado con angular.</p>
                <hr class="text-white w-100">
                <div class="card-links">
                    <a href="https://github.com/ikerCH-03/proyecto-multifuncion" class="mx-2"><i
                            class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>